<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 85vh;">

  <form
    (ngSubmit)="onSubmit(signupForm)"
    #signupForm="ngForm"
    class="card p-4 w-100"
    style="max-width: 700px; border-radius: 15px;"
  >
    <h1 class="text-center mb-4" style="font-size: 28px;">REGISTRACIJA</h1>

    <div class="mb-3">
      <label for="email" class="form-label">Email naslov</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Vnesi email naslov"
        [(ngModel)]="email"
        #emailCtrl="ngModel"
        required
        [ngClass]="{
          'is-invalid': emailCtrl.invalid && (emailCtrl.touched || emailCtrl.dirty || signupForm.submitted),
          'is-valid': emailCtrl.valid && (emailCtrl.touched || emailCtrl.dirty || signupForm.submitted)
        }"
      >

      @if (emailCtrl.invalid && (emailCtrl.touched || emailCtrl.dirty || signupForm.submitted)) {
        <div class="invalid-feedback d-block">Polje je obvezno!</div>
      }
    </div>

    <div class="mb-4">
      <label for="password" class="form-label">Geslo</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Vnesi geslo (min 4 znaki)"
        [(ngModel)]="password"
        #passCtrl="ngModel"
        required
        minlength="4"
        [ngClass]="{
          'is-invalid': passCtrl.invalid && (passCtrl.touched || passCtrl.dirty || signupForm.submitted),
          'is-valid': passCtrl.valid && (passCtrl.touched || passCtrl.dirty || signupForm.submitted)
        }"
      >

      @if (passCtrl.invalid && (passCtrl.touched || passCtrl.dirty || signupForm.submitted)) {
        <div class="invalid-feedback d-block">
          Polje je obvezno (min 4).
        </div>
      }
    </div>

    @if (errorMessage) {
      <div class="alert alert-danger">
        {{ errorMessage }}
      </div>
    }

    <div class="d-grid">
      <button [disabled]="signupForm.invalid" class="btn btn-success btn-lg" type="submit">
        Registracija
      </button>
    </div>

    <p class="text-center mt-3 mb-0">
      Že imaš račun?
      <a routerLink="/login" class="text-success text-decoration-none fw-semibold">Prijava</a>
    </p>
  </form>

</div>